# service-specific environment variables put in here for "simplicity" kinda moreso just less duplication

## User and data locations
DEFAULT_USER=changeme-default-user
DATA_ROOT=/home/${DEFAULT_USER}/changeme-path-to/homelab-config/data
