# service-specific environment variables put in here for "simplicity" kinda moreso just less duplication

## Seems I can't pass it correctly as a secret for some reason
# CLOUDFLARE_TUNNEL_TOKEN=changeme-longggggggggg-string-cloudflare-tunnel-token-get-from-tunnel-overview-section
DATA_DIR=/path/to/directory/of/homelab-config/data/
