# Default stuff
*
!.gitignore
!README.md

# MacOS annoyance
.DS_Store

# Ignore persistent/perm data obviously too large to store, plus doesn't follow IaC idea of whole homelab
data/

# Ignore env files and actual secrets
.env
**/.env
secrets/*

# Don't ignore examples to show how system sets up
!.env.example
!stacks/*
!secrets-example
!secrets-example/*
