# root-wide environment variables put in here for "simplicity" kinda moreso just less duplication

## User and data locations
DEFAULT_USER=changeme-default-user
DATA_ROOT=/home/${DEFAULT_USER}/changeme-path-to/homelab-config/data

## User permission level and ID?
PUID=1000
PGID=1000

## Timezone for whatever reason the app wants it
TIMEZONE=Location/City

## Should be default false always except on first-run and when adding other users, no reason to be on otherwise
ALLOW_SIGNUP_BOOL=false
ALLOW_SIGNUP_BOOL_STRING="false"

# Secrets & Tokens
## Manual generation of rand string: `echo $(openssl rand -hex 32)`
