# root-wide environment variables put in here for "simplicity" kinda moreso just less duplication

# Common global stuff

DATA_ROOT=changeme_repo_path/homelab-config/data
PUID=1000
PGID=1000
TIMEZONE=Europe/London
ALLOW_SIGNUP=false
ALLOW_SIGNUP_STRING="false"
DOMAIN=changeme_domain.com
EXTERNAL_URL=https://$DOMAIN

# Changed Ports

## Infrastructure = 20xxx
TRAEFIK_PORT=20xxx
TRAEFIK_DASHBOARD_PORT=20xxx

## Maintenance = 21xxx

## Media = 22xxx
AUDIOBOOKSHELF_PORT=22xxx

## Cloud = 23xxx


## Trackers = 24xxx
ACTUAL_BUDGET_PORT=24xxx
MEALIE_PORT=24xxx
WGER_PORT=24xxx
MONICA_PORT=24xxx
YAMTRACK_PORT=24xxx
HABITICA_PORT=24xxx

## \*arr = 25xxx


## Apps = 26xxx


# Secrets & Tokens
# Manual generation of 32-char rand string: echo "base64:$(openssl rand -base64 32)"

## Cloudflare
CLOUDFLARE_TUNNEL_TOKEN=changeme_cloudflare_token

YAMTRACK_SECRET_LONGSTRING="changeme_yamtrack_secret_longstring"
