PUID=1000
PGID=1000
ABS_PORT=10020
SYNCTHING_GUI_PORT=10025
SYNCTHING_TRANS_PORT=10026
PUID=1000
PGID=1000
ABS_PORT=10020
SYNCTHING_GUI_PORT=10025
SYNCTHING_TRANS_PORT=10026
# Ryot stuff
# Note - whenever changing pass you delete the ryot db dirs as there's issues otherwise
RYOT_DB_USER=a-p-maita
RYOT_DB_PASS=make_it_up
SERVER_ADMIN_ACCESS_TOKEN=make_it_up
MOVIES_AND_SHOWS_TMDB_ACCESS_TOKEN=your_token_gen_from_tmdb
SERVER_IMPORTER_TRAKT_CLIENT_ID=your_token_gen_from_trakt
